*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 16px;
  line-height: normal;
}

body {
  height: 100%;
  width: 100%;
  background-color: #FEF2F6;
  font-family: "Kiwi Maru", sans-serif;
}

.backBtn {
  padding: 10px;
  background-color: #CFF1FF;
  border: 3px solid #2EBCFF;
  border-radius: 10px;
  position: absolute;
  bottom: 50px;
  left: 35px;
  box-shadow: 0px 4px 4px 0px rgba(89, 89, 89, 0.25);
}

.sendBtn {
  padding: 15px 25px;
  background-color: #FFB400;
  border-radius: 10px;
  border: 3px solid white;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1.5px;
  position: absolute;
  bottom: 50px;
  right: 35px;
  box-shadow: 0px 4px 4px 0px rgba(89, 89, 89, 0.25);
}

.wrapper {
  height: 100vh;
  width: 100vw;
  background-image: url(./../imgs/startMain.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
  position: relative;
}

.box {
  background-color: #CFF1FF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0 45px;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 3px #2EBCFF;
  position: relative;
}
.box p {
  font-size: 22px;
  line-height: 20px;
  letter-spacing: -0.5px;
  white-space: nowrap;
  transform: translateX(-28%);
}
.box p::first-line {
  font-size: 14px;
}
.box::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #CFF1FF;
  border-radius: 50%;
  position: absolute;
  bottom: -25px;
  right: 40px;
  z-index: 10;
}
.box::after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #CFF1FF;
  border-radius: 50%;
  position: absolute;
  bottom: -35px;
  right: 55px;
  z-index: 10;
}

.tip {
  margin-top: 40px;
  margin-left: 30px;
  display: flex;
}

.write {
  padding: 9px 21px;
  background-color: #CFF1FF;
  border-radius: 30px;
  border: 2px solid #2EBCFF;
  max-width: 330px;
  margin: 0 auto;
  margin-top: 30px;
  overflow: hidden;
  box-shadow: 0px 4px 4px 0px rgba(89, 89, 89, 0.25);
}
.write p {
  color: #2A363D;
}
.write textarea {
  margin-top: 14px;
  width: 100%;
  height: 85%;
  border-radius: 30px;
  background-image: -webkit-linear-gradient(left, white 10px, transparent 10px), -webkit-linear-gradient(right, white 10px, transparent 10px), -webkit-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
  background-image: -moz-linear-gradient(left, white 10px, transparent 10px), -moz-linear-gradient(right, white 10px, transparent 10px), -moz-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
  background-image: -ms-linear-gradient(left, white 10px, transparent 10px), -ms-linear-gradient(right, white 10px, transparent 10px), -ms-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
  background-image: -o-linear-gradient(left, white 10px, transparent 10px), -o-linear-gradient(right, white 10px, transparent 10px), -o-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
  background-image: linear-gradient(left, white 10px, transparent 10px), linear-gradient(right, white 10px, transparent 10px), linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
  background-size: 100% 100%, 100% 100%, 100% 31px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1.95em;
  border: none;
  resize: none;
  display: none;
}

.payment {
  background-color: #CFF1FF;
  border-radius: 20px;
  max-width: 330px;
  margin: 0 auto;
  border: 2px solid #2EBCFF;
  margin-top: 28px;
  color: #2A363D;
  letter-spacing: -0.5px;
  padding: 9px 21px;
  box-shadow: 0px 4px 4px 0px rgba(89, 89, 89, 0.25);
}
.payment-title {
  font-size: 16px;
  margin-bottom: 5px;
}
.payment-name {
  font-size: 13px;
}
.payment-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 14px;
  padding-top: 10px;
}
.payment-item:first-child .payment-name::first-line {
  font-size: 17px;
}
.payment-item:not(:last-child) {
  border-bottom: 1px dashed #2EBCFF;
}

/*# sourceMappingURL=app_letter2.css.map */
