$base-color: #FEF2F6;
$primary-color: #CFF1FF;
$secondary-color: #FFB400;
$title-color: #2A363D;
$text-color: #6F6F6F;
$text-color--light: #CBCBCB;
$border-color: #2EBCFF;
$primary-font: "Kiwi Maru", sans-serif;