// sass ./scss/app_home.scss ./css/app_home.css --watch

@import "variables";
@import "reset";
@import "global";

.wrapper{
    padding-top: 20px;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    &::-webkit-scrollbar{
        display: none;
    }
}
.search{
    margin-bottom: 14px;
    &-form{
        background-color: tomato;
        display: flex;
        align-items: center;
        width: 85%;
        padding: 15px 25px;
        border-radius: 30px;
        background-color: $primary-color;
        border: 2px solid $border-color;
        margin: 0 auto;
        &::placeholder{
            color: #706767;
            font-weight: 300;
            line-height: normal;
            letter-spacing: -0.5px;
        }
    }
    &-icon{
        margin-right: 5px;
    }
    &-input{
        border: none;
    }
}

// slider elements
.slider{
    margin-bottom: 35px;
}
.slider-img{
    padding: 0 3px;
    width: 90vw;
    img{
        height: 100%;
        width: 100%;
    }
}
.slick{
    position: relative;
    &-dots{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: flex !important;
        li {
            list-style-type: none;
            margin-right: 5px;
        }
    }
    &-dots button{
        font-size: 0;
        padding: 5px;
        background-color: #c9c9c9;
        border-radius: 100px;
        width: 10px;
        height: 10px;   
        transition: .2s;
    }
    
}
.slick-dots .slick-active button{
    content: "";
    background-color: $secondary-color !important;
    width: 20px;
    height: 10px;
    z-index: 10000;
    border-radius: 100px;
}

// slider end 

.kansaiRank{
    padding: 0 15px;
    &-title{
        color: $title-color;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: -0.5px;
    }
    &-wrapper{
        margin-top: 15px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 7px;
        grid-template-areas: 
        "k1 k2"
        "k3 k4"
        ;
    }
    &-item{
        overflow: hidden;
        &1{
            grid-area: k1;
        }
        &2{
            grid-area: k2;
        }
        &3{
            grid-area: k3;
        }
        &4{
            grid-area: k4;
        }
    }
    &-img{
        &--wrapper{
            overflow: hidden;
        }
        width: 100%;
    }
    &-content{
        padding: 6px;
        background-color: white;
        border: 0.4px solid #AAA;
        border-top: none;
        
    }
    &-title--sub{
        color: $title-color;
        font-size: 14px;
        font-weight: 400;
        line-height: 127.8%;
        letter-spacing: -0.5px;
    }
    &-local{
        margin-top: 5px;
        margin-bottom: 2px;
        color: #515151;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: -0.5px;
    }
    &-more{
        display: block;
        margin: 10px 30px;
        text-align: right;
    }
}







